@inject IConstructionMachineService ConstructionMachineServcie
    <table class="table">
        <thead>
            <tr>
                <th>Ảnh</th>
                <th>Tên</th>
                <th>Thương hiệu</th>
                <th>Số sêri</th>
                <th>Chiều dài</th>
                <th>Chiều rộng</th>
                <th>Chiều cao</th>
                <th>Trọng lượng</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in contructionMachines)
            {
                <tr>
                    <td><img src="@ImageResult"></td>
                    <td>@item.Name</td>
                    <td>@item.Brand</td>
                    <td>@item.SerialNumber</td>
                    <td>@item.Length</td>
                    <td>@item.Width</td>
                    <td>@item.Height</td>
                    <td>@item.Weight</td>
                    <td>
                    <button class="btn btn-primary"></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
@code {
    [Parameter]
    public List<ContructionMachine>? contructionMachines { get; set; }
    string ImageResult = "[]";
    protected override async Task OnInitializedAsync()
    {
        foreach (var item in contructionMachines!)
        {
            if (item.ImageDeserializeJson != null && item.ImageDeserializeJson.Count > 0)
            {
                var images = JsonConvert.DeserializeObject<List<Dictionary<string, string>>>(item.Image!);
                var result = images!.FirstOrDefault()!["Image_0"];
                ImageResult = result;
            }
        }
    }

}
