@page "/Tenders/Active"
@inject ITenderService TenderService
@inject IJSRuntime js
<PageTitle>TendersActive</PageTitle>
<div class="card-body">
    <div>Tất cả thầu đang hoạt động</div>
    <hr />
    <div class="col-md-12 row">
        <div class="col-md-6 column">
            <div>
                <label class="form-label">
                    Tìm kiếm đấu thầu
                </label>
            </div>
            <div>
                <input type="text" placeholder="Tìm kiếm theo số hiệu thầu và tên máy..." size="45" maxlength="45">
            </div>
        </div>

        <div class="col-md-3 column">
            <div>
                <label class="form-label">
                    Lọc theo hạng cân
                </label>
            </div>
            <div>
                <select title="Tất cả">
                    <option>Tất cả</option>
                    <option>Dưới 8 tấn</option>
                    <option>Từ 8 tới 22 tấn</option>
                    <option>Trên 22 tấn</option>
                </select>
            </div>
        </div>

        <div class="col-md-3 column">
            <div>
                <label class="form-label">
                    Lọc theo số lượng công ty đấu giá
                </label>
            </div>
            <div>
                <select title="Tất cả">
                    <option>Tất cả</option>
                    <option>Không có công ty nào</option>
                    <option>Có dưới 5 công ty</option>
                    <option>Có trên 5 công ty</option>
                </select>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div style="overflow-x: auto;">
        <table class="table">
            <thead>
                <tr>
                    <th class="table-tender">Số hiệu thầu</th>
                    <th class="table-tender">Tên thầu</th>
                    <th class="table-tender">Danh sách máy</th>
                    <th class="table-tender">Địa chỉ nhận</th>
                    <th class="table-tender">Địa chỉ giao</th>
                    <th class="table-tender">Thời gian nhận sớm nhất</th>
                    <th class="table-tender">Thời gian giao sớm nhất</th>
                    <th class="table-tender">Công ty tạo thầu</th>
                    <th class="table-tender">Trạng thái</th>
                    <th class="table-tender">Thời gian còn lại</th>
                    <th class="table-tender">Số lượng đặt giá</th>
                    <th class="table-tender">Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in listActive!)
                {
                    <tr>
                        <td class="table-tender">@($"#000{item.TenderId}")</td>
                        <td class="table-tender">@item.TenderName</td>
                        <td class="table-tender">
                            @foreach(var machine in item.ConstructionMachines)
                            {
                                <div style="display: block;">@machine.Name - @machine.SerialNumber - @machine.Brand</div>
                            }
                        </td>
                        <td class="table-tender">@item.From</td>
                        <td class="table-tender">@item.To</td>
                        <td class="table-tender">@item.PickUpDate</td>
                        <td class="table-tender">@item.DeliveryDate</td>
                        <td class="table-tender">@item.CompanyShipperName</td>
                        <td class="table-tender">@item.Status</td>
                        <td class="table-tender">@item.TimeRemaining</td>
                        <td class="table-tender">@item.Bids</td>
                        <td class="table-tender">abc</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@code {
    public List<TenderActiveDTO> listActive { get; set; } = new();
    public ApplicationUser _user { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var result = await TenderService.SearchActiveBy(new SearchTenderActiveDTO
        {
            searchLoads = 0,
            searchOffers = 0
        }, _user);
        if (result.Success)
            listActive = result.Data;
        else
        {
            await js.InvokeVoidAsync("alert", result.Message);
        }
    }
}
